@page
@model Assignment2.Pages.Error.error403Model
@{
    ViewData["title"] = "Forbidden Access";
}

<div class="error-container">
    <div class="error-header">
        <h1>403</h1>
        <p>Forbidden Access</p>
    </div>
    <div class="error-message">
        <p>You do not have permission to access this page.</p>
        <p>If you believe this is an error, please contact the administrator for assistance.</p>
    </div>
    <div class="error-link">
        <p>Return to <a href="https://localhost:7087/Home">Home</a></p>
    </div>
</div>
