@page
@model Assignment2.Pages.ResetRequestConfirmationModel
@{

<h2>Password Reset Requested</h2>
<p>If an account matching the email you provided exists, we have sent an email with a password reset link.</p>
}