@page
@model Assignment2.Pages.ResetPasswordConfirmationModel

<h2>Password Reset Successful</h2>
<p>Your password has been reset successfully. You can now use your new password to log in.</p>

<a class="btn btn-primary" href="/Login">Log In</a>
